@model JeyceryTradingCorporation.Models.Product

@{
    ViewBag.Title = "Details";
    var i = 0;
}



<div class="container mt-5" id="details">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="display-5 col-6">
                            @Html.DisplayFor(model => model.Name)

                        </div>
                        <div class="lead text-end col-6 mt-auto">
                            <i>@Html.DisplayFor(model => model.Category.Name)</i>
                        </div>
                    </div>

                    <hr class="" />
                </div>
                <div class="col-7">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            @foreach (var item in Model.Products_Files)
                            {
                                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                                i++;
                            }


                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="@(Model.Products_Files.First().FilePath.Path)" class="d-block w-100" alt="...">
                            </div>
                            @foreach (var item in Model.Products_Files.Skip(1).ToList())
                            {

                                <div class="carousel-item ">
                                    <img src="@(item.FilePath.Path)" class="d-block w-100" alt="...">
                                </div>

                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    <div class="row mt-2">


                        <div class="col-6">
                            <label for="size" class="lead">@Html.DisplayNameFor(model => model.Size)</label>

                            <div class="form-control" id="size">@Html.DisplayFor(model => model.Size)</div>
                        </div>
                        <div class="col-6">
                            <label for="weight" class="lead">@Html.DisplayNameFor(model => model.Weight)</label>

                            <div class="form-control" id="weight">@Html.DisplayFor(model => model.Weight)</div>
                        </div>
                    </div>
                </div>
                <div class="col-5">

                    <p class="lead fs-6">
                        @Html.DisplayFor(model => model.Description)

                    </p>



                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="text-end">
              

                @Html.ActionLink("Back to List", "ProductIndex", null, new { @class = "btn btn-info" })
            </div>
        </div>

    </div>


    @*<dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>*@







</div>


