@model IEnumerable<JeyceryTradingCorporation.Models.Category>
@{
    Layout = "";
}
<div class="card" id="Table">
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Date Created
                    </th>
                    <th>
                        Date Modified
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Modified By
                    </th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @using (Ajax.BeginForm("Delete", "Categories", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Table", OnSuccess = "Success();" }, new { id = "DeleteForm" + item.ID }))
                            {
                                @Html.AntiForgeryToken()
                            <div class="btn-group">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#EditModal@(item.ID)">
                                    Edit <span class="bi-pen"></span>
                                </button>
                                <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-info btn-sm">Details <span class="bi-menu-up"></span></a>
                                <input type="hidden" value="@(item.ID)" name="id" />
                                <div onclick="DeleteConfirmation(@item.ID)" value="Delete" class="btn btn-danger">
                                    Delete <span class="bi-trash"></span>
                                </div>
                                
                                @* <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger btn-sm">Delete <span class="bi-trash"></span></a>*@
                            </div>
                            }
                        </td>




                    </tr>

                }
            </tbody>


        </table>

    </div>
    @foreach (var item in Model)
    {
        <!-- Modal -->

        <div class="modal fade" id="EditModal@(item.ID)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @{Html.RenderPartial("Edit", item);}
                    </div>

                </div>
            </div>
        </div>
    }

</div>

